<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Developer</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>App Framework</string>
			<key>Key</key>
			<string>framework</string>
			<key>DefaultValue</key>
			<string>random</string>
			<key>Values</key>
			<array>
				<string>random</string>
				<string>uikit</string>
				<string>react</string>
			</array>
			<key>Titles</key>
			<array>
				<string>Random</string>
				<string>UIKit</string>
				<string>React Native</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
