<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>83524144496-raigh83sl79irs86uffamja7s7uhr01f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.83524144496-raigh83sl79irs86uffamja7s7uhr01f</string>
	<key>API_KEY</key>
	<string>AIzaSyCftzwInzf4JcrevrQaOC1LHff2W08yNzI</string>
	<key>GCM_SENDER_ID</key>
	<string>83524144496</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.greentravel.radzima</string>
	<key>PROJECT_ID</key>
	<string>radzima-light</string>
	<key>STORAGE_BUCKET</key>
	<string>radzima-light.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:83524144496:ios:f2e983edc32b03f9ee93b5</string>
</dict>
</plist>